{% extends "base.html" %}

{% block content %}
<h1>Gráficos de Controle Estatístico de Processo</h1>
<p>O gráfico de controle estatístico de processo R e X é usado para monitorar a média (X) e a variação representada pelo alcance R de um processo ao longo do tempo. </p>
<p>Ele é amplamente utilizado em controle de qualidade para verificar se um processo está sob controle estatístico.</p>
<h1>Componentes dos gráficos:</h1>
<p>- Gráfico X</p>
<p>. Monitora a média das amostras do processo.</p>
<p>. Exibe limites de controle superior (UCL) e inferior (LCL), que determinam se a média está dentro de limites aceitáveis.</p>
<p>- Gráfico R</p>
<p>. Monitora a variabilidade do processo, utilizando o alcance R, que é a diferença entre o maior e o menor valor em cada amostra.</p>
<p>. Também tem limites de controle superior e inferior.</p>

{% endblock %}
